NEXT_PUBLIC_SUPABASE_URL=https://socoalkbpa4m1srgzjq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvcW9vbGticHN2bG10c2NnemlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MTM2MTMsImV4cCI6MjA5MzI4OTYxM30.eWaN4FAk-t1CIPIQTWhV0-hp4xl0yBvqNuGW7bG0-RU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvcW9vbGticHN2bG10c2NnemlnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzcxMzYxMywiZXhwIjoyMDkzMjg5NjEzfQ.KldW7034CbFCvRxnL4R7VOoOx54FsuLsfFbRzf618oU